<div class="auth-main">
  <div class="auth-block">
    <h1 >You can Reset your Password Here!</h1>
    <!--<a routerLink="/signup" class="auth-link" >Signup</a>-->

    <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)" class="form-horizontal">
      <div class="form-group row" [ngClass]="{'has-error': (!email.valid && email.touched), 'has-success': (email.valid && email.touched)}">
        <label for="inputEmail3" class="col-sm-2 control-label" >Email-ID</label>

        <div class="col-sm-10">
          <input [formControl]="email" type="email" class="form-control" id="inputEmail3" placeholder="email.........">
        </div>
      </div>
      <div *ngIf="isOtp" class="form-group row" [ngClass]="{'has-error': (!otp.valid && otp.touched), 'has-success': (otp.valid && otp.touched)}">
        <label for="inputotp3" class="col-sm-2 control-label" >OTP</label>

        <div class="col-sm-10">
          <input [formControl]="otp" type="text" class="form-control" id="inputotp3" placeholder="otp........">
        </div>
      </div>
      <div class="form-group row">
        <div class="offset-sm-2 col-sm-10">
          <button  type="submit" class="btn btn-default btn-auth" >Submit</button>
        </div>
      </div>
    </form>
  </div>
</div>
