<div class="auth-main">
  <div class="auth-block">
    <h1 >Reset your Password</h1>
    <!--<a routerLink="/signup" class="auth-link" >Signup</a>-->

    <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)" class="form-horizontal">
      
      <!--<div class="form-group row" [ngClass]="{'has-error': (!currentpassword.valid && currentpassword.touched), 'has-success': (currentpassword.valid && currentpassword.touched)}">
        <label for="CurrentPassword" class="col-sm-4 control-label" >Current Password : </label>
        <div class="col-sm-8">
          <input [formControl]="currentpassword" type="password" class="form-control" id="CurrentPassword" placeholder="Current Password................">
        </div>
      </div>-->
      <div  class="form-group row" [ngClass]="{'has-error': (!newpassword.valid && newpassword.touched), 'has-success': (newpassword.valid && newpassword.touched)}">
        <label for="newpassword" class="col-sm-4 control-label" >New Password : </label>
        <div class="col-sm-8">
          <input [formControl]="newpassword" type="password" class="form-control" id="newpassword" placeholder="New Password................">
        </div>
      </div>
      <div  class="form-group row" [ngClass]="{'has-error': (!confirmpassword.valid && confirmpassword.touched), 'has-success': (confirmpassword.valid && confirmpassword.touched)}">
        <label for="confirmpassword" class="col-sm-4 control-label" >Confirm Password : </label>
        <div class="col-sm-8">
          <input [formControl]="confirmpassword" type="password" class="form-control" id="confirmpassword" placeholder="Confirm Password................">
        </div>
      </div>
      <!--<div class="form-group row" [ngClass]="{'has-error': (!password.valid && password.touched), 'has-success': (password.valid && password.touched)}">
        <label for="inputPassword3" class="col-sm-2 control-label" >Password</label>

        <div class="col-sm-10">
          <input [formControl]="password" type="password" class="form-control" id="inputPassword3" placeholder="Password........">
        </div>
      </div>-->
      <div class="form-group row">
        <div class="offset-sm-2 col-sm-10">
          <button  type="submit" class="btn btn-default btn-auth" [disabled]="!form.valid">Submit</button>
          <!--<a routerLink="/login" class="forgot-pass" >forgot_password</a>-->
        </div>
      </div>
    </form>
  </div>  
</div>
