<div class="page-top clearfix" baScrollPosition maxHeight="50" (scrollChange)="scrolledChanged($event)"
     [ngClass]="{scrolled: isScrolled}">
  <a routerLink="/dashboard" class="al-logo clearfix"><span>Inno</span>Space</a>
  <a href (click)="toggleMenu()" class="collapse-menu-link ion-navicon"></a>
<div class="search-main">
  <div class="search">
      <!--<input id="searchInput" type="text" placeholder="Search for...">-->
      <!--<typeahead
        [(ngModel)]="selectedEmp"
        [list]="empNames"
        [searchProperty]="'personalEmail'|| 'employeeName' || 'id'" [displayProperty]="'employeeName'"
        [maxSuggestions]="2"
        (suggestionSelected)="empSelected($event)"
        placeholder="Begin typing a fruit">
      </typeahead>-->
        <input ngui-auto-complete [source]="empNames"
        id="model3"
        [(ngModel)]="model3"
        placeholder="enter text"
        value-formatter="employeeName"
        list-formatter="(employeeId) employeeName personalEmail"
        [match-formatted]="true" />
      <br/><p class="sr-only">selected model3: {{model3 | json}}</p><br/><br/>
  </div>
  <div class="search-icon"><i class="ion-ios-search-strong" (click)="startSearch()"></i></div>
</div>
  <div class="user-profile clearfix">
    <div class="dropdown al-user-profile">
      <a class="profile-toggle-link dropdown-toggle" id="user-profile-dd" data-toggle="dropdown" aria-expanded="false">
        <img [src]=image_path/>
      </a>
      <ul class="dropdown-menu top-dropdown-menu profile-dropdown" aria-labelledby="user-profile-dd">
        <li class="dropdown-item"><a href><i class="fa fa-user"></i>Profile</a></li>
        <li class="dropdown-item"><a href><i class="fa fa-cog"></i>Settings</a></li>
        <li class="dropdown-item" (click)="signout(user)"><a href class="signout"><i class="fa fa-power-off"></i>Sign out</a></li>
      </ul>
    </div>
    <!--<ba-msg-center></ba-msg-center>-->
  </div>
</div>
